@use 'sass:meta';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  background: #ffffff;
  font-weight: 400;
}
